@import 'variables';

.btn {
  $border: 2px solid;

  position: relative;

  margin: 0 0.5rem;
  padding: 0.5rem 2rem;

  outline: none !important;

  text-align: center;
  text-transform: uppercase;

  transition: 0.5s ease;

  &:hover {
    text-decoration: none;
  }

  &--primary,
  &--secondary {
    border: $border $primary;
  }

  &--primary {
    background: $primary;
    color: $secondary;

    &:hover {
      background: $secondary;
      color: $primary;
    }
  }

  &--secondary {
    background: $secondary;
    color: $primary;

    &:hover {
      background: $primary;
      color: $secondary;
    }
  }
}
