.board {
  $grid: 1fr 1fr 1fr;
  $board: 500px;
  $field: 80px;

  height: $board;
  width: $board;

  margin: auto;

  display: grid;
  grid-template-rows: $grid;
  grid-template-columns: $grid;

  & .field {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    border: 2.5px solid #333;

    &:hover {
      &:empty {
        background-color: rgba(#000, 0.1);

        cursor: pointer;
      }

      &:not(:empty) {
        cursor: not-allowed;
      }
    }

    &:nth-child(-n + 3) {
      border-top: none;
    }

    &:nth-last-child(3n + 1) {
      border-right: none;
    }

    &:nth-last-child(-n + 3) {
      border-bottom: none;
    }

    &:nth-child(3n + 1) {
      border-left: none;
    }

    &:nth-child(n) span {
      animation: pulse 1s;

      @keyframes pulse {
        10% {
          transform: scale(1.25);
        }
      }
    }

    & .O {
      $border: 5px;

      height: $field - $border;
      width: $field - $border;
      border: $border solid #333;
      border-radius: 50%;
    }

    & .X {
      position: relative;

      height: $field;
      width: $field;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        width: $field;
        height: 5px;

        background-color: #333;
      }

      &::before {
        transform: rotateZ(45deg) translateY(-50%);
      }

      &::after {
        transform: rotateZ(-45deg) translateY(-50%);
      }
    }

    &.win {
      background: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 10px,
        rgba(#28a745, 0.75) 10px,
        rgba(#28a745, 0.75) 20px
      );
    }
  }
}
